body{
	background-color:  #ececec;
}

.header{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	position: fixed; 
	z-index: 5;
}

.btn-default{
	border-radius: 0px !important;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #bdc3c7;
}

.berita{
	padding: 15px;
	margin: 0px !important;
	margin-top: 10px !important;
	background-color: white;
}