body{
	background-color:  #ececec;
}

.header{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	position: fixed; 
	z-index: 5;
}

.btn-default{
	border-radius: 0px !important;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #bdc3c7;
}

.berita{
	padding: 15px;
	margin: 0px !important;
	margin-top: 10px !important;
	background-color: white;
}

.isi_berita{
	font-size: 16px;
	padding: 20px 50px;
}

.teks{
	margin: 0px !important;
	margin-top: 30px !important;
	background-color: white;
	border-top: 8px solid blue;
}

.komentar{
	padding: 0px 30px;
}